In [136]:
import pandas as pd

# 파일 읽어오기
file_name = "./files_02/kto_201901.xlsx"
kto_201901 = pd.DataFrame()
kto_201901 = pd.read_excel(file_name, header=1, skipfooter=4, usecols="A:G")

kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [137]:
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [138]:
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [139]:
# 문제
# 각 컬럼에서 0인 데이터가 있는 부분만 필터링
condition = (kto_201901["관광"]==0) | (kto_201901["상용"]==0) | (kto_201901["공용"]==0) | (kto_201901["유학/연수"]==0) | (kto_201901["기타"]==0)

kto_201901[condition]

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [140]:
# 개수 확인
len(kto_201901[condition])

13

In [141]:
# 컬럼추가
kto_201901["기준년월"]="2019-01"
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [142]:
# 대륙 필터링하기 -> 국적만 남겨두기
# unique() : 특정 컬럼의 데이터에서 고유한 값만 추출하고자 할 때 사용(중복제거)
kto_201901["국적"].unique() 
# 아시아주, 미주, 구주, 대양주, 아프리카주, 기타대륙, 교포소계

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [143]:
# 대륙 필터링
filterlst = ["아시아주", "미주", "구주", "대양주", "아프리카주", "기타대륙", "교포소계"]
condition = kto_201901["국적"].isin(filterlst) == False

kto_201901_country = kto_201901[condition]
kto_201901_country
#print(len(kto_201901_country))

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [144]:
# 확인
kto_201901_country["국적"].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [145]:
kto_201901_country.head(3)

   국적      관광    상용   공용  유학/연수    기타       계     기준년월
1  일본  198805  2233  127    785  4576  206526  2019-01
2  대만   86393    74   22    180  1285   87954  2019-01
3  홍콩   34653    59    2     90  1092   35896  2019-01

In [146]:
# 데이터프레임의 인덱스를 0부터 순차적으로 다시 지정 / 인덱스 재배열
# reset_index()
# drop=True : 기존 인덱스 삭제
kto_201901_country.reset_index(drop=True)
kto_201901_country_newindex = kto_201901_country.reset_index(drop=True)
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [147]:
# 리스트 곱하기 연산과 덩하기 연산 응용 으로 대륙 컬럼 생성
a = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"] + ["교포"]

kto_201901_country_newindex["대륙"] = a
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [148]:
# 각 국가별 관광 비율 컬럼 추가
# 소숫점 관리 : round()
ssratio = round(((kto_201901_country_newindex["관광"] / kto_201901_country_newindex["계"]) * 100),4)
kto_201901_country_newindex["관광객비율(%)"] = ssratio
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.2615
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2252
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5372
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5097
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.2664
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3041
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.8579
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.2733
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.9518
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.6549
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2081
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7328
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.1989
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.0620
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9487
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.5622
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4165
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.4923
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6087
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3106
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.3697
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0285
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1360
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.2748
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.2776
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5226
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.4783
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.1851
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.7788
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0053
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.6559
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.8978
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.6893
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.1631
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9470
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.0616
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.0615
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2410
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9139
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1114
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1031
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8304
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.0645
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.7589
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.9627
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.8824
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2157
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5084
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0285
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2477
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7309
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.8520
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0118
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.5695
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.4587
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.3909
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8000
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.5502
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1111
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0000

In [149]:
# 정렬하기 : sort_values()
kto_201901_country_newindex.sort_values(by = "관광객비율(%)", ascending=True).head()

       국적   관광   상용  공용  유학/연수     기타      계     기준년월   대륙  관광객비율(%)
59     교포    0    0   0      0  15526  15526  2019-01   교포    0.0000
14  방글라데시  149  126  27     97    848   1247  2019-01  아시아   11.9487
12   스리랑카  157   54   5     28   1043   1287  2019-01  아시아   12.1989
13   파키스탄  238  178  10    193    413   1032  2019-01  아시아   23.0620
15   캄보디아  635   39  55     51   1915   2695  2019-01  아시아   23.5622

In [150]:
# 집계함수 : pivot_table()
# 대륙별 관광객비율(%)의 평균 집계
# values : 집계할 데이터 지정
# index : 집계 기준 컬럼 지정
# aggfunc : 어떻게 집계할 것인지 함수 지정
kto_201901_country_newindex.pivot_table(values="관광객비율(%)", index="대륙",aggfunc="mean")

        관광객비율(%)
대륙
교포      0.000000
기타대륙   61.111100
아메리카   68.194020
아시아    59.618776
아프리카   32.675100
오세아니아  84.806367
유럽     63.823457

In [151]:
# 중국 국적 데이터만 조회
filter = kto_201901_country_newindex["국적"] == "중국"
kto_201901_country_newindex[filter]

    국적      관광    상용   공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)
17  중국  320113  2993  138   8793  60777  392814  2019-01  아시아   81.4923

In [194]:
# 전체 국가 대비 관광객 비율
allssratio = round(((kto_201901_country_newindex["관광"] / kto_201901_country_newindex["관광"].sum()) * 100),4)
kto_201901_country_newindex["전체 비율(%)"] = allssratio
kto_201901_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.2615,22.4818
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2252,9.7697
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5372,3.9187
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5097,0.2834
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.2664,3.8453
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3041,2.1535
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.8579,1.6147
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.2733,1.6039
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,84.9518,0.9467
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.6549,0.1475
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2081,1.2144
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7328,0.2621
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.1989,0.0178
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.0620,0.0269
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9487,0.0168
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.5622,0.0718
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4165,0.9452
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.4923,36.1999
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6087,0.0068
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3106,0.0822
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.3697,0.0896
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0285,0.2214
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1360,0.2471
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.2748,0.1753
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.2776,0.1765
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5226,4.8614
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.4783,0.9085
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.1851,0.1450
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.7788,0.1285
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0053,0.1743
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.6559,0.9026
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.8978,0.5569
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.6893,0.4267
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.1631,0.1800
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9470,0.0954
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.0616,0.0693
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.0615,0.2226
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2410,0.0588
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9139,0.0624
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1114,0.0554
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1031,0.0615
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8304,0.1142
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.0645,0.0544
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.7589,0.0470
44,핀란드,412,23,1,18,405,859,2019-01,유럽,47.9627,0.0466
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.8824,0.0443
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2157,0.0671
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5084,1.9518
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0285,0.0256
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2477,0.0466
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7309,0.0174
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.8520,0.0806
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0118,0.2046
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.5695,1.4469
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.4587,0.2294
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.3909,0.0628
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8000,0.0416
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.5502,0.0868
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1111,0.0037
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0000,0.0000

In [167]:
# 우리나라에 입국하는 관광객이 가장 많은 국가 top10을 조회
kto_201901_country_newindex.sort_values(by = "전체 비율(%)", ascending=False).head(10)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.4923,36.1999
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.2615,22.4818
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2252,9.7697
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5226,4.8614
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5372,3.9187
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.2664,3.8453
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3041,2.1535
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5084,1.9518
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.8579,1.6147
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.2733,1.6039

In [251]:
# 모든 파일을 위 처리내용을 반영해서 하나의 데이터프레임으로 통합

def integration():
    df = pd.DataFrame()
    try:
        y = 2010
        m = 1
        # 파일 불러오기
        file_first_name = "./files_02/kto_{}{}.xlsx".format(str(y).zfill(2), str(m).zfill(2))
        file_first = pd.read_excel(file_first_name, header=1, skipfooter=4, usecols="A:G")
        # 기준년월 컬럼 추가
        file_first["기준년월"]="{}-{}".format(str(y).zfill(2), str(m).zfill(2))
        # 대륙 데이터 삭제
        filterlst = ["아시아주", "미주", "구주", "대양주", "아프리카주", "기타대륙", "교포소계"]
        condition = file_first["국적"].isin(filterlst) == False
        file_first = file_first[condition]
        #print(len(file_first)) 60개 확인
        #인덱스 재배열
        file_first = file_first.reset_index(drop=True)
        #대륙 컬럼 생성
        a = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"] + ["교포"]
        file_first["대륙"] = a
        #관광 비율 컬럼 추가
        ssratio = round(((file_first["관광"] / file_first["계"]) * 100),0)
        file_first["관광객비율(%)"] = ssratio
        # 전체 국가 대비 관광객 비율 컬럼 추가
        allssratio = round(((file_first["관광"] / file_first["관광"].sum()) * 100),4)
        file_first["전체 비율(%)"] = allssratio
        # 기준 파일 ---------------------------------------------------------------------
        # 다음 파일 ---------------------------------------------------------------------
        for i in range(115):
            # 파일 불러오기
            m += 1
            if m == 13:
                m = 1
                y += 1
            file_next_name = "./files_02/kto_{}{}.xlsx".format(str(y).zfill(2), str(m).zfill(2))
            file_next = pd.read_excel(file_next_name, header=1, skipfooter=4, usecols="A:G")
            # 기준년월 컬럼 추가
            file_next["기준년월"]="{}-{}".format(str(y).zfill(2), str(m).zfill(2))
            # 대륙 데이터 삭제
            filterlst = ["아시아주", "미주", "구주", "대양주", "아프리카주", "기타대륙", "교포소계"]
            condition = file_next["국적"].isin(filterlst) == False
            file_next = file_next[condition]
            #print(len(file_first)) 60개 확인
            #인덱스 재배열
            file_next = file_next.reset_index(drop=True)
            #대륙 컬럼 생성
            a = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"] + ["교포"]
            file_next["대륙"] = a
            #관광 비율 컬럼 추가
            ssratio = round(((file_first["관광"] / file_first["계"]) * 100),0)
            file_next["관광객비율(%)"] = ssratio
            # 전체 국가 대비 관광객 비율 컬럼 추가
            allssratio = round(((file_next["관광"] / file_next["관광"].sum()) * 100),4)
            # allssratio.sum() 검증 : 합하면 1 / 반올림했기때문에 1을 넘을 수 있다.
            file_next["전체 비율(%)"] = allssratio

            # 파일 통합
            file_first= pd.concat([file_first, file_next], ignore_index=True)

        # 다음 파일 ---------------------------------------------------------------------
        df = file_first
        df.to_excel("./kto_total.xlsx", index = False)
        return df
    except:
        pass

In [252]:
integration()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6028
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.0,8.9287
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.0,3.4614
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1382
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.0,3.3367
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,81.0,0.0415
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,27.0,0.0506
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,26.0,0.1662
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,77.0,0.0029
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0000

In [259]:
def integration():
    # 초기 변수 생성
    df = pd.DataFrame()
    lst = []
    y = 2010
    m = 0
    n = 1000
    try:
        for i in range(n):
            # 파일 불러오기
            m += 1
            if m == 13:
                m = 1
                y += 1
            file_next_name = "./files_02/kto_{}{}.xlsx".format(str(y).zfill(2), str(m).zfill(2))
            file_next = pd.read_excel(file_next_name, header=1, skipfooter=4, usecols="A:G")
            # 기준년월 컬럼 추가
            file_next["기준년월"]="{}-{}".format(str(y).zfill(2), str(m).zfill(2))
            # 대륙 데이터 삭제
            filterlst = ["아시아주", "미주", "구주", "대양주", "아프리카주", "기타대륙", "교포소계"]
            condition = file_next["국적"].isin(filterlst) == False
            file_next = file_next[condition]
            #print(len(file_first)) 60개 확인
            #인덱스 재배열
            file_next = file_next.reset_index(drop=True)
            #대륙 컬럼 생성
            a = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"] + ["교포"]
            file_next["대륙"] = a
            #관광 비율 컬럼 추가
            ssratio = round(((file_first["관광"] / file_first["계"]) * 100),0)
            file_next["관광객비율(%)"] = ssratio
            # 전체 국가 대비 관광객 비율 컬럼 추가
            allssratio = round(((file_next["관광"] / file_next["관광"].sum()) * 100),4)
            # allssratio.sum() 검증 : 합하면 1 / 반올림했기때문에 1을 넘을 수 있다.
            file_next["전체 비율(%)"] = allssratio
            # 리스트에 데이터프레임 삽입
            lst.append(file_next)
    except:
        pass
    
    try:
        # 리스트안에 있는 데이터프레임 통합
        first_file = lst[0]
        for i in range(n):
            first_file = pd.concat([first_file, lst[i+1]], ignore_index=True)
    except:
        pass
    df = first_file
    # 저장
    df.to_excel("./kto_total.xlsx", index = False)
    
    return df

In [260]:
integration()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6028
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.0,8.9287
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.0,3.4614
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1382
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.0,3.3367
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,81.0,0.0415
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,27.0,0.0506
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,26.0,0.1662
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,77.0,0.0029
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0000

In [261]:
df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체 비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6028
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.0,8.9287
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.0,3.4614
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1382
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.0,3.3367
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,81.0,0.0415
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,27.0,0.0506
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,26.0,0.1662
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,77.0,0.0029
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0000